$primaryBlue: #3772FF;
$primaryViolet: #9757D7;
$primaryRed: #EF466F;
$primaryGreen: #45B36B;
$grey-1: #777E91;
$grey-2: #B1B5C4;
$grey-3: #E6E8EC;
$black-1: #141416;
$black-2: #23262F;
$black-3: #353945;
$white-1: #F4F5F6;
$white-2: #FCFCFD;
