.h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
}

.h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: center;
}

.h3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
}

.h4 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

.small {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.caption {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}


.caption-bold {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.caption-bold-2 {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.caption-2 {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.body-1 {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.body-2 {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body-bold {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.body-bold-2 {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.button-small {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.hairline-large {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.hairline-small {
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}